nav{
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: #0000FF;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

nav header{
  font-size:22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #004CFF;
  user-select: none;
}

nav ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  
}
